In [1]:
import numpy as np

In [2]:
arr = np.array([1,2,3,4])
arr2 = np.array([1,2] [3,4])
print(arr2)

<>:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\HP\AppData\Local\Temp\ipykernel_13092\297643521.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  arr2 = np.array([1,2] [3,4])

TypeError: list indices must be integers or slices, not tuple

In [3]:
arr = np.array([1,2,3,4])
arr2 = np.array([1,2],[3,4])
print(arr2)

TypeError: Field elements must be 2- or 3-tuples, got '3'

In [4]:
arr = np.array([1,2,3,4])
arr2 = np.array([[1,2],[3,4]])
print(arr2)

[[1 2]
 [3 4]]

In [5]:
arr = np.array([1,2,3,4])
arr2 = np.array([[1,2],[3,4]])
print('2D:'arr2)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3030063984.py, line 3)

In [6]:
arr = np.array([1,2,3,4])
arr2 = np.array([[1,2],[3,4]])
print('2D:',arr2)

2D: [[1 2]
 [3 4]]

In [7]:
arr = np.array([1,2,3,4])
arr2 = np.array([[1,2],[3,4]])
print('2D:/n', arr2)

2D:/n [[1 2]
 [3 4]]

In [8]:
arr = np.array([1,2,3,4])
arr2 = np.array([[1,2],[3,4]])
print('2D:\n', arr2)

2D:
 [[1 2]
 [3 4]]

In [9]:
arr = np.array([10,20,30,40])
arr2 = np.array([[5,10,15],[20,25,30]])
print('2D:\n', arr2)

2D:
 [[ 5 10 15]
 [20 25 30]]

In [10]:
arr = np.array([10,20,30,40])
arr2 = np.array([[5,10,15],[20,25,30]])
print(arr)
print('2D:\n', arr2)

[10 20 30 40]
2D:
 [[ 5 10 15]
 [20 25 30]]

In [11]:
print(arr.shape)      
print(arr.ndim)     
print(arr.dtype)      
print(arr2.size)

(4,)
1
int64
6

In [12]:
x = np.array([2,4,6])
y = np.array([1,3,5])
print(x + y)
print(x * y)
print(x - y)
print(x + 10)
print(10 + x)

[ 3  7 11]
[ 2 12 30]
[1 1 1]
[12 14 16]
[12 14 16]

In [13]:
arr = np.array([[1, 2, 3], [4, 5, 6]])

print(arr[0])      
print(arr[:, 1])    
print(arr[1, 2])   

flat = arr.reshape(6)
print(flat)

square = flat.reshape(2, 3)
print(square)

[1 2 3]
[2 5]
6
[1 2 3 4 5 6]
[[1 2 3]
 [4 5 6]]

In [14]:
rando = np.random.randint(1, 100, size=(3,4))

In [15]:
rando = np.random.randint(1, 100, size=(3,4))
print(rando)

[[15 19 81 84]
 [ 4 29 36  6]
 [65 99 14 46]]

In [16]:
print("Mean", rando.mean())
print("Max", rando.max())
print("Min", rando.min())

Mean 41.5
Max 99
Min 4

In [17]:
import pandas as pd
data = {
    "Name": ["Fave", "Gavv", "Hacc"],
    "Age": [1, 4, 6],
    "Language": ["Python", "Java", "Savv"]
}
df = pd.DataFrame(data)
print(df)

   Name  Age Language
0  Fave    1   Python
1  Gavv    4     Java
2  Hacc    6     Savv

In [18]:
import pandas as pd
data = {
    "Items": ["Banana", "Laptop", "Pencil"],
    "Price": [30, 30000, 50],
    "In_Stock": [True, False, True]
}
shop = pd.DataFrame(data)
print(shop)

    Items  Price  In_Stock
0  Banana     30      True
1  Laptop  30000     False
2  Pencil     50      True

In [19]:
print(shop.head()) 
print(shop.columns) 
print(shop.info())
print(shop.describe())

    Items  Price  In_Stock
0  Banana     30      True
1  Laptop  30000     False
2  Pencil     50      True
Index(['Items', 'Price', 'In_Stock'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Items     3 non-null      object
 1   Price     3 non-null      int64
 2   In_Stock  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 183.0+ bytes
None
              Price
count      3.000000
mean   10026.666667
std    17297.416956
min       30.000000
25%       40.000000
50%       50.000000
75%    15025.000000
max    30000.000000

In [20]:
print(shop["Price"])
print(shop[shop["In_Stock"] == True])
print(shop[shop["Price"] > 1000])

0       30
1    30000
2       50
Name: Price, dtype: int64
    Items  Price  In_Stock
0  Banana     30      True
2  Pencil     50      True
    Items  Price  In_Stock
1  Laptop  30000     False

In [21]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic = pd.read_csv(url)
print(titanic.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [22]:
print(titanic.info())
print(titanic.describe())
print(titanic["Survived"].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
Survived
0    549
1    342
Name: count, dtype: int64